@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body , html {
    overflow-x: hidden;
    color: white;
    background-color: #051A1A;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 15px;
}
.navbarlogo{
    width:50px;
    height: 50px;
    margin-left: 4%;
}
.topnav {
    overflow: hidden;
    margin-right: 4%;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
    color: #051A1A;
    font-size: 24px;
    letter-spacing: 0.32px;
}
.topnav a.active{
    font-weight: bold;
}
.topnav a:hover{
    text-decoration: underline;
    opacity: 0.6;
}



.main{
    margin-top:200px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 20px;
}
.textb{
    float: left;
    margin-left: 10%;
    margin-right: 4%;
    margin-top: 80px;
    width: auto;
    color: whitesmoke;
}
.textb h1{
    font-size: 5vmin;
    font-weight: bolder;
    margin-bottom: 5px;
}
.textb h2{
    font-size: 3.5vmin;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2px;
    height: 80px;
}
.typewrite{
    font-weight: bold;
    text-decoration: underline;
}
.img{
    float: right;
    margin-right: 10%;
    margin-left: 4%;
    width: 300px;
    height: 300px;
}

.line{
    margin-top: 80px;
    margin-bottom: 100px;
    width: 80%;
    height: 3px;
    background-color: white;
    border-radius: 500px;
}
.textb2{
    width: 75%;
    font-size: 3.5vmin;
    font-weight: 500;
    height: 120px;
}
footer{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-bottom: 60px;
}
.connect{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    color: white;
    font-size: 3.5vmin;
    margin-right: 15%;
    margin-left: 10%;
}
.connect a{
    color: #fafc93;
    text-decoration: none;
}
.socialic{
    width: 24px;
    height: 24px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin-right: 10%;
    margin-left: 15%;
}

@media only screen and (max-width: 550px) {
    /* For mobile phones: */

    .main{
        flex-direction: column-reverse;
        padding: 0;
        width: 100%;
        align-items: center;
    }
    .img{
        width: 70%;
        height: 70%;
        margin-right: 5%;
        margin-left: 5%;
    }
    .textb{
        margin-left: 5%;
        margin-right: 5%;
    }
    .textb h2{
        text-align: center;
        font-size: 4vmin;
    }
    .line{
        width: 75%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .topnav a {
        font-size: 4.5vmin;
        padding: 10px;
    }
    .textb2{
        font-size: 4vmin;
    }
    .connect{
        font-size: 4vmin;
        margin-right: 5%;
    }
    .socialic{
        width: 20px;
        height: 20px;
    }
    .icons{
        margin-left: 5%;
    }
}